<%= form_tag comic_comic_image_path(@comic,@comic_image),method: :put, multipart: true do |f| %>
  <p>
    <%= file_field_tag "shared_image[original_image]" %>
  </p>

  <p>
    <%= text_field_tag "order" %>
  </p>


  <p><%= submit_tag %></p>
<% end %>


